.main {
  min-height: 100%;
  background-image: url(../images/unsplash_npxXWgQ33ZQ.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-flow: column;
}

.header {
  font-size: 3rem;
  margin-bottom: 2.5em;
  font-weight: 100;
  text-align: center;
}

.header > span {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  font-size: 2erm;
  font-weight: 300;
}

.link {
  width: 15em;
  height: 5em;
  background-color: #2e8351;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 1em;
  font-size: 1.5em;
  font-weight: 800;
}
